
<div id="chat">
  <div class="text-chat">
    <h2>This is an Ember component.</h2>
    <input type="text" value={{value}} onChange={{action "onChange"}}/>

    <h2>This is a button. <small>(Try clicking it!)</small></h2>
    <button id="talk-to-elm" type="button" onclick={{action "postElmMessage"}}>
      Send text to Elm
    </button>

    <h2>This is an Elm component.</h2>
    <ElmComponent @src={{Elm.Main.Chat}} @flags={{flags}} @setup={{action "setupPorts"}} />
  </div>
</div>
