
<div id="chat">
  <div class="text-chat">
    <h2>This is an Ember component.</h2>
    <Input 
      aria-label="ember text box"
      @type="text" 
      @value={{this.value}} 
      {{on "change" this.onChange}}
    />

    <h2>This is a button. <small>(Try clicking it!)</small></h2>
    <button id="talk-to-elm" type="button" {{on "click" this.postElmMessage}}>
      Send text to Elm
    </button>

    <h2>This is an Elm component.</h2>
    <ElmComponent 
      @src={{this.Elm.Main.Chat}} 
      @flags={{this.flags}} 
      @setup={{this.setupPorts}} 
    />
  </div>
</div>
